.App {
  height: 100%;
  min-height: 100vh;
  background: rgb(6,32,116);
  background: linear-gradient(180deg, rgba(6,32,116,1) 0%, rgba(130,17,4,1) 100%);
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.App-logo {
  width: 100px;
}

.App-listGifs{
    display: flex;
    flex-direction: column;
    margin-left:0 ;
}